ion-img {
  width: 80%;
  height: 200px;
  object-fit: cover;
  margin: 20px auto;
}

p {
  margin: 30px 20px;
  text-align: justify;
}

.background-image {
  --background: url('../../assets/bg.png') no-repeat center center / cover;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.8);
}
