<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="ion-margin" src="https://i.imgur.com/idEu35Ul.jpg"></ion-img>
  <h3 class="ion-text-center">Cyntia Fanny</h3>
  <h5 class="ion-text-center">00000020976 - AL</h5>

  <p>Saya mengerjakan project ini dibantu oleh Steve Manumpil dan berdiskusi bersama beberapa teman saya melalui Line (Azura Sakan Taufik, Patricia Dinda, Titania, dan Samuel Lorent). Untuk penggunaan Library luar tidak ada, karena semuanya menggunakan ionic dan angular saja</p>
</ion-content>
