img {
  width: 100%;
  max-width: 500px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}

ion-item-divider {
  padding: 0 !important;
}

.dark {
  color: white;
}

ion-slide {
  width: 100%;
}
