.image-row {
  width: 70px;
  height: 70px;
}

.description-horizontal {
  height: min-content;
  margin: auto 20px;
}

.wrap-text {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkmark {
  color: #44e283;
}

.background-image {
  --background: url('../../assets/bg.png') no-repeat center center / cover;
}

.row-item {
  width: 95%;
  margin: 10px auto;
}

