#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.image-row {
  width: 70px;
  height: 70px;
}

.description-horizontal {
  height: min-content;
  margin: auto 20px;
}

.image-grid {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.card-grid {
  padding: 5px;
}

.wrap-text {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-grid {
  margin: 10px;
}

.background-image {
  --background: url('../../assets/bg.png') no-repeat center center / cover;
}
